DATABASE_DRIVER=postgres          # или mongodb
DEBUG=*

# Для PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=filmuser
POSTGRES_PASSWORD=film123
POSTGRES_DB=afisha

# Для MongoDB
DATABASE_URL=mongodb://localhost:27017/afisha
