GIT_USER="git_user_name"
DATABASE_DRIVER="postgres"
DEBUG=*

# Для PostgreSQL
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"
POSTGRES_USER="prac"
POSTGRES_PASSWORD="prac"
POSTGRES_DB="prac"

# Для pgAdmin
PGADMIN_DEFAULT_EMAIL="pgadmin@example.net"
PGADMIN_DEFAULT_PASSWORD="pgadmin"